<a href="https://colab.research.google.com/github/shoaibwaheed/finance/blob/main/stock_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
! pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.85)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)

In [57]:
import yfinance as yf
import pandas as pd

In [58]:
goog = yf.Ticker('goog')

In [59]:
data = goog.history()

In [60]:
data.shape

(23, 7)

In [61]:
data = goog.history(interval = '1d',start = '2022-01-03',end = '2022-11-6')

In [62]:
data.shape

(213, 7)

In [63]:
data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-01-03 00:00:00-05:00,144.475494,145.550003,143.502502,145.074493,25214000,0,0.0
2022-01-04 00:00:00-05:00,145.550507,146.610001,143.816147,144.416504,22928000,0,0.0
2022-01-05 00:00:00-05:00,144.181000,144.298004,137.523499,137.653503,49642000,0,0.0
2022-01-06 00:00:00-05:00,137.497498,139.686005,136.763504,137.550995,29050000,0,0.0
2022-01-07 00:00:00-05:00,137.904999,138.254745,135.789001,137.004501,19408000,0,0.0

In [64]:
data = yf.download(['goog','spy'],period = '1d',start='2022-01-03', end='2022-11-6',group_by = 'ticker')

[*********************100%***********************]  2 of 2 completed

In [65]:
data.shape

(213, 12)

In [66]:
data

                  GOOG                                                  \
                  Open        High         Low       Close   Adj Close
Date
2022-01-03  144.475494  145.550003  143.502502  145.074493  145.074493
2022-01-04  145.550507  146.610001  143.816147  144.416504  144.416504
2022-01-05  144.181000  144.298004  137.523499  137.653503  137.653503
2022-01-06  137.497498  139.686005  136.763504  137.550995  137.550995
2022-01-07  137.904999  138.254745  135.789001  137.004501  137.004501
...                ...         ...         ...         ...         ...
2022-10-31   95.779999   96.349998   94.379997   94.660004   94.660004
2022-11-01   95.589996   96.165001   90.430000   90.500000   90.500000
2022-11-02   90.910004   91.300003   87.010002   87.070000   87.070000
2022-11-03   86.345001   86.550003   83.449997   83.489998   83.489998
2022-11-04   85.510002   86.730003   83.879997   86.699997   86.699997

                             SPY                                      \
              Volume        Open        High         Low       Close
Date
2022-01-03  25214000  476.299988  477.850006  473.850006  477.709991
2022-01-04  22928000  479.220001  479.980011  475.579987  477.549988
2022-01-05  49642000  477.160004  477.980011  468.279999  468.380005
2022-01-06  29050000  467.890015  470.820007  465.429993  467.940002
2022-01-07  19408000  467.950012  469.200012  464.649994  466.089996
...              ...         ...         ...         ...         ...
2022-10-31  29868700  386.440002  388.399994  385.260010  386.209991
2022-11-01  43220600  390.140015  390.390015  383.290009  384.519989
2022-11-02  43553600  383.899994  388.630005  374.760010  374.869995
2022-11-03  48510400  371.470001  374.200012  368.790009  371.010010
2022-11-04  40155100  377.000000  378.869995  370.000000  376.350006


             Adj Close     Volume
Date
2022-01-03  472.242310   72668200
2022-01-04  472.084106   71178700
2022-01-05  463.019073  104538900
2022-01-06  462.584137   86858900
2022-01-07  460.755310   85111600
...                ...        ...
2022-10-31  386.209991   96631300
2022-11-01  384.519989   85407600
2022-11-02  374.869995  126990400
2022-11-03  371.010010   87100100
2022-11-04  376.350006  103449600

[213 rows x 12 columns]

In [67]:
dhr = yf.Ticker('DHR')

In [68]:
info = dhr.info

In [69]:
info.keys()

dict_keys(['zip', 'sector', 'fullTimeEmployees', 'longBusinessSummary', 'city', 'phone', 'state', 'country', 'companyOfficers', 'website', 'maxAge', 'address1', 'fax', 'industry', 'address2', 'ebitdaMargins', 'profitMargins', 'grossMargins', 'operatingCashflow', 'revenueGrowth', 'operatingMargins', 'ebitda', 'targetLowPrice', 'recommendationKey', 'grossProfits', 'freeCashflow', 'targetMedianPrice', 'currentPrice', 'earningsGrowth', 'currentRatio', 'returnOnAssets', 'numberOfAnalystOpinions', 'targetMeanPrice', 'debtToEquity', 'returnOnEquity', 'targetHighPrice', 'totalCash', 'totalDebt', 'totalRevenue', 'totalCashPerShare', 'financialCurrency', 'revenuePerShare', 'quickRatio', 'recommendationMean', 'exchange', 'shortName', 'longName', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'isEsgPopulated', 'gmtOffSetMilliseconds', 'quoteType', 'symbol', 'messageBoardId', 'market', 'annualHoldingsTurnover', 'enterpriseToRevenue', 'beta3Year', 'enterpriseToEbitda', '52WeekChange', 'morningStarRiskRating', 'forwardEps', 'revenueQuarterlyGrowth', 'sharesOutstanding', 'fundInceptionDate', 'annualReportExpenseRatio', 'totalAssets', 'bookValue', 'sharesShort', 'sharesPercentSharesOut', 'fundFamily', 'lastFiscalYearEnd', 'heldPercentInstitutions', 'netIncomeToCommon', 'trailingEps', 'lastDividendValue', 'SandP52WeekChange', 'priceToBook', 'heldPercentInsiders', 'nextFiscalYearEnd', 'yield', 'mostRecentQuarter', 'shortRatio', 'sharesShortPreviousMonthDate', 'floatShares', 'beta', 'enterpriseValue', 'priceHint', 'threeYearAverageReturn', 'lastSplitDate', 'lastSplitFactor', 'legalType', 'lastDividendDate', 'morningStarOverallRating', 'earningsQuarterlyGrowth', 'priceToSalesTrailing12Months', 'dateShortInterest', 'pegRatio', 'ytdReturn', 'forwardPE', 'lastCapGain', 'shortPercentOfFloat', 'sharesShortPriorMonth', 'impliedSharesOutstanding', 'category', 'fiveYearAverageReturn', 'previousClose', 'regularMarketOpen', 'twoHundredDayAverage', 'trailingAnnualDividendYield', 'payoutRatio', 'volume24Hr', 'regularMarketDayHigh', 'navPrice', 'averageDailyVolume10Day', 'regularMarketPreviousClose', 'fiftyDayAverage', 'trailingAnnualDividendRate', 'open', 'toCurrency', 'averageVolume10days', 'expireDate', 'algorithm', 'dividendRate', 'exDividendDate', 'circulatingSupply', 'startDate', 'regularMarketDayLow', 'currency', 'trailingPE', 'regularMarketVolume', 'lastMarket', 'maxSupply', 'openInterest', 'marketCap', 'volumeAllCurrencies', 'strikePrice', 'averageVolume', 'dayLow', 'ask', 'askSize', 'volume', 'fiftyTwoWeekHigh', 'fromCurrency', 'fiveYearAvgDividendYield', 'fiftyTwoWeekLow', 'bid', 'tradeable', 'dividendYield', 'bidSize', 'dayHigh', 'coinMarketCapLink', 'regularMarketPrice', 'preMarketPrice', 'logo_url'])

In [70]:
info['sector']

'Healthcare'

In [71]:
dhr.earnings

          Revenue    Earnings
Year
2018  17049000000  2651000000
2019  17911000000  3008000000
2020  22284000000  3646000000
2021  29453000000  6433000000

In [72]:
dhr.get_financials()

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Research Development,1742000000.0,1348000000.0,1126000000.0,1059000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,7598000000.0,4495000000.0,3305000000.0,2962000000.0
Minority Interest,10000000.0,11000000.0,11000000.0,12300000.0
Net Income,6433000000.0,3646000000.0,3008000000.0,2651000000.0
Selling General Administrative,8146000000.0,6858000000.0,5577000000.0,5356000000.0
Gross Profit,18056000000.0,13043000000.0,9984000000.0,9505000000.0
Ebit,8168000000.0,4837000000.0,3281000000.0,3090000000.0
Operating Income,8168000000.0,4837000000.0,3281000000.0,3090000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-238000000.0,-275000000.0,-108000000.0,-137000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,1251000000.0,849000000.0,873000000.0,556000000.0
Total Revenue,29453000000.0,22284000000.0,17911000000.0,17049000000.0
Total Operating Expenses,21285000000.0,17447000000.0,14630000000.0,13959000000.0
Cost Of Revenue,11397000000.0,9241000000.0,7927000000.0,7544000000.0
Total Other Income Expense Net,-570000000.0,-342000000.0,24000000.0,-128000000.0
Discontinued Operations,86000000.0,86000000.0,576000000.0,245000000.0
Net Income From Continuing Ops,6347000000.0,3646000000.0,2432000000.0,2406000000.0
Net Income Applicable To Common Shares,6269000000.0,3510000000.0,2940000000.0,2651000000.0

In [73]:
pnl = dhr.financials
bs = dhr.balancesheet
cf = dhr.cashflow
fs  = pd.concat([pnl,bs,cf])
print(fs.T)

           Research Development Effect Of Accounting Charges  \

2021-12-31         1742000000.0                         None
2020-12-31         1348000000.0                         None
2019-12-31         1126000000.0                         None
2018-12-31         1059000000.0                         None

           Income Before Tax Minority Interest    Net Income  \

2021-12-31      7598000000.0        10000000.0  6433000000.0
2020-12-31      4495000000.0        11000000.0  3646000000.0
2019-12-31      3305000000.0        11000000.0  3008000000.0
2018-12-31      2962000000.0        12300000.0  2651000000.0

           Selling General Administrative   Gross Profit          Ebit  \

2021-12-31                   8146000000.0  18056000000.0  8168000000.0
2020-12-31                   6858000000.0  13043000000.0  4837000000.0
2019-12-31                   5577000000.0   9984000000.0  3281000000.0
2018-12-31                   5356000000.0   9505000000.0  3090000000.0

           Operating Income Other Operating Expenses  ...  \
                                                      ...
2021-12-31     8168000000.0                     None  ...
2020-12-31     4837000000.0                     None  ...
2019-12-31     3281000000.0                     None  ...
2018-12-31     3090000000.0                     None  ...

           Effect Of Exchange Rate Total Cash From Operating Activities  \

2021-12-31            -115000000.0                         8358000000.0
2020-12-31             148000000.0                         6208000000.0
2019-12-31              45000000.0                         3952000000.0
2018-12-31            -118000000.0                         4022000000.0

            Depreciation Other Cashflows From Investing Activities  \

2021-12-31  2168000000.0                                37000000.0
2020-12-31  1775000000.0                                24000000.0
2019-12-31  1189000000.0                               -43000000.0
2018-12-31  1178000000.0                               -74000000.0

           Dividends Paid Change To Inventory Change To Account Receivables  \

2021-12-31   -742000000.0        -502000000.0                  -611000000.0
2020-12-31   -615000000.0        -123000000.0                  -264000000.0
2019-12-31   -527000000.0         -22000000.0                  -157000000.0
2018-12-31   -433000000.0        -134000000.0                   -55000000.0

           Other Cashflows From Financing Activities Change To Netincome  \

2021-12-31                              -112000000.0         415000000.0
2020-12-31                               -29000000.0         208000000.0
2019-12-31                               369000000.0        -115000000.0
2018-12-31                               -18000000.0         271000000.0

           Capital Expenditures

2021-12-31        -1294000000.0
2020-12-31         -791000000.0
2019-12-31         -636000000.0
2018-12-31         -584000000.0

[4 rows x 68 columns]

In [74]:
fang = ['META','AMZN','NFLX','GOOG']

In [75]:
tickers =[yf.Ticker(ticker) for ticker in fang ]

In [76]:
print(tickers)

[yfinance.Ticker object <META>, yfinance.Ticker object <AMZN>, yfinance.Ticker object <NFLX>, yfinance.Ticker object <GOOG>]

In [77]:
dfs = []
for ticker in tickers:
  pnl = ticker.financials
  bs = ticker.balancesheet
  cf = ticker.cashflow

  fs = pd.concat([pnl,bs,cf])

  data = fs.T
  data = data.reset_index()

  data.columns = ['date',*data.columns[1:]]
  data['Ticker'] = ticker.ticker
  dfs.append(data)

data.iloc[:,:3]

        date Research Development Effect Of Accounting Charges
0 2021-12-31        31562000000.0                         None
1 2020-12-31        27573000000.0                         None
2 2019-12-31        26018000000.0                         None
3 2018-12-31        21419000000.0                         None

In [78]:
parser = pd.io.parsers.base_parser.ParserBase({'usecols':None})

In [79]:
for df in dfs:
  df.columns = parser._maybe_dedup_names(df.columns)
df = pd.concat(dfs,ignore_index =True)
df = df.set_index(['Ticker','date'])
df.iloc[:,:5]

                  Research Development Effect Of Accounting Charges  \
Ticker date
META   2021-12-31        24655000000.0                         None
       2020-12-31        18447000000.0                         None
       2019-12-31        13600000000.0                         None
       2018-12-31        10273000000.0                         None
AMZN   2021-12-31        56052000000.0                         None
       2020-12-31        42740000000.0                         None
       2019-12-31        35931000000.0                         None
       2018-12-31        28837000000.0                         None
NFLX   2021-12-31         2273885000.0                         None
       2020-12-31         1829600000.0                         None
       2019-12-31         1545149000.0                         None
       2018-12-31         1221814000.0                         None
GOOG   2021-12-31        31562000000.0                         None
       2020-12-31        27573000000.0                         None
       2019-12-31        26018000000.0                         None
       2018-12-31        21419000000.0                         None

                  Income Before Tax Minority Interest     Net Income
Ticker date
META   2021-12-31     47284000000.0              None  39370000000.0
       2020-12-31     33180000000.0              None  29146000000.0
       2019-12-31     24812000000.0              None  18485000000.0
       2018-12-31     25361000000.0              None  22112000000.0
AMZN   2021-12-31     38155000000.0              None  33364000000.0
       2020-12-31     24194000000.0              None  21331000000.0
       2019-12-31     13962000000.0              None  11588000000.0
       2018-12-31     11270000000.0              None  10073000000.0
NFLX   2021-12-31      5840103000.0              None   5116228000.0
       2020-12-31      3199349000.0              None   2761395000.0
       2019-12-31      2062231000.0              None   1866916000.0
       2018-12-31      1226458000.0              None   1211242000.0
GOOG   2021-12-31     90734000000.0              None  76033000000.0
       2020-12-31     48082000000.0              None  40269000000.0
       2019-12-31     39625000000.0              None  34343000000.0
       2018-12-31     34913000000.0              None  30736000000.0

In [81]:
dfs = yf.Ticker('dfs')
options = dfs.option_chain()

In [97]:
options

Options(calls=        contractSymbol             lastTradeDate  strike  lastPrice    bid  \
0   DFS221111C00089000 2022-11-04 19:13:18+00:00    89.0      11.10  10.20
1   DFS221111C00091000 2022-11-04 19:13:08+00:00    91.0       9.20   8.40
2   DFS221111C00092000 2022-10-21 15:50:36+00:00    92.0       4.80   7.40
3   DFS221111C00093000 2022-11-02 18:37:59+00:00    93.0      10.30   6.80
4   DFS221111C00094000 2022-10-26 17:52:12+00:00    94.0      10.49   6.00
5   DFS221111C00095000 2022-11-03 19:20:23+00:00    95.0       4.75   5.20
6   DFS221111C00096000 2022-10-25 13:39:50+00:00    96.0       4.90   4.60
7   DFS221111C00097000 2022-10-27 17:00:42+00:00    97.0       8.16   3.80
8   DFS221111C00098000 2022-10-24 14:25:41+00:00    98.0       3.00   3.10
9   DFS221111C00099000 2022-11-04 19:22:41+00:00    99.0       2.61   2.55
10  DFS221111C00100000 2022-11-04 19:54:14+00:00   100.0       2.00   2.00
11  DFS221111C00101000 2022-11-04 19:56:29+00:00   101.0       1.55   1.50
12  DFS221111C00102000 2022-11-04 19:27:26+00:00   102.0       1.20   1.10
13  DFS221111C00103000 2022-11-04 18:44:20+00:00   103.0       0.85   0.75
14  DFS221111C00104000 2022-11-04 19:59:51+00:00   104.0       0.64   0.55
15  DFS221111C00105000 2022-11-04 13:54:02+00:00   105.0       0.45   0.30
16  DFS221111C00106000 2022-11-04 15:48:11+00:00   106.0       0.37   0.20
17  DFS221111C00107000 2022-11-03 14:54:48+00:00   107.0       0.25   0.15
18  DFS221111C00108000 2022-11-04 14:16:33+00:00   108.0       0.30   0.05
19  DFS221111C00109000 2022-11-01 19:23:09+00:00   109.0       1.12   0.05
20  DFS221111C00110000 2022-10-31 16:55:22+00:00   110.0       1.00   0.05
21  DFS221111C00111000 2022-11-02 16:47:17+00:00   111.0       0.29   0.00
22  DFS221111C00116000 2022-11-01 16:09:14+00:00   116.0       0.15   0.00
23  DFS221111C00135000 2022-10-25 13:34:11+00:00   135.0       0.14   0.00

      ask  change  percentChange  volume  openInterest  impliedVolatility  \
0   11.50   11.10            NaN     3.0             0           0.882814
1    9.60    4.50      95.744690     1.0             2           0.511724
2    8.40    0.00       0.000000     5.0             5           0.660160
3    7.60    0.00       0.000000     1.0            35           0.519536
4    6.80    0.00       0.000000     1.0            24           0.538091
5    5.80    0.00       0.000000     1.0            36           0.507817
6    5.00    0.00       0.000000     2.0            19           0.524907
7    4.20    0.00       0.000000    10.0            50           0.500493
8    3.60    0.00       0.000000    11.0            38           0.556645
9    2.80    0.31      13.478258     2.0            28           0.506353
10   2.20    0.22      12.359552    14.0             8           0.487310
11   1.75    0.24      18.320612    13.0            22           0.486089
12   1.35   -3.20     -72.727270     3.0            13           0.480474
13   0.95    0.25      41.666664    11.0             8           0.458502
14   0.70    0.09      16.363630     6.0            29           0.456548
15   0.50   -0.24     -34.782608     5.0            40           0.453619
16   0.40    0.07      23.333330     5.0            97           0.470708
17   0.25    0.00       0.000000     5.0           117           0.454107
18   0.20    0.15     100.000000     9.0           221           0.471685
19   0.15    0.00       0.000000     9.0            39           0.480474
20   0.20    0.00       0.000000     5.0            77           0.500005
21   0.75    0.29            NaN     NaN             2           0.688480
22   0.75    0.15            NaN     NaN             1           0.888673
23   0.05    0.00       0.000000     NaN             1           1.015630

    inTheMoney contractSize currency
0         True      REGULAR      USD
1         True      REGULAR      USD
2         True      REGULAR      USD
3         True      REGULAR      USD
4         True      REGULAR      USD
5         True      REGULAR      USD
6         True      REGULAR      USD
7         True      REGULAR      USD
8         True      REGULAR      USD
9         True      REGULAR      USD
10       False      REGULAR      USD
11       False      REGULAR      USD
12       False      REGULAR      USD
13       False      REGULAR      USD
14       False      REGULAR      USD
15       False      REGULAR      USD
16       False      REGULAR      USD
17       False      REGULAR      USD
18       False      REGULAR      USD
19       False      REGULAR      USD
20       False      REGULAR      USD
21       False      REGULAR      USD
22       False      REGULAR      USD
23       False      REGULAR      USD  , puts=        contractSymbol             lastTradeDate  strike  lastPrice    bid  \
0   DFS221111P00060000 2022-10-25 13:45:21+00:00    60.0       0.05   0.00
1   DFS221111P00065000 2022-11-04 17:08:40+00:00    65.0       0.01   0.00
2   DFS221111P00075000 2022-10-25 14:19:52+00:00    75.0       0.20   0.00
3   DFS221111P00079000 2022-10-25 14:19:52+00:00    79.0       0.30   0.00
4   DFS221111P00080000 2022-10-25 15:57:59+00:00    80.0       0.74   0.00
5   DFS221111P00081000 2022-10-03 18:44:51+00:00    81.0       1.75   0.00
6   DFS221111P00082000 2022-10-03 18:10:54+00:00    82.0       1.95   0.00
7   DFS221111P00085000 2022-11-03 18:47:16+00:00    85.0       0.10   0.00
8   DFS221111P00086000 2022-10-20 14:18:27+00:00    86.0       1.90   0.00
9   DFS221111P00087000 2022-11-03 19:41:22+00:00    87.0       0.15   0.00
10  DFS221111P00088000 2022-11-03 16:15:51+00:00    88.0       0.20   0.00
11  DFS221111P00089000 2022-11-04 19:28:22+00:00    89.0       0.10   0.05
12  DFS221111P00090000 2022-11-04 18:01:54+00:00    90.0       0.17   0.05
13  DFS221111P00091000 2022-10-27 13:51:55+00:00    91.0       0.50   0.10
14  DFS221111P00092000 2022-11-04 19:54:33+00:00    92.0       0.25   0.20
15  DFS221111P00093000 2022-11-04 19:03:28+00:00    93.0       0.30   0.30
16  DFS221111P00094000 2022-11-04 14:06:52+00:00    94.0       0.45   0.40
17  DFS221111P00095000 2022-11-04 19:50:21+00:00    95.0       0.60   0.55
18  DFS221111P00096000 2022-11-04 19:58:46+00:00    96.0       0.87   0.75
19  DFS221111P00097000 2022-11-02 15:54:48+00:00    97.0       0.85   1.00
20  DFS221111P00098000 2022-11-04 19:34:28+00:00    98.0       1.29   1.25
21  DFS221111P00099000 2022-11-04 19:27:26+00:00    99.0       1.72   1.65
22  DFS221111P00100000 2022-11-04 19:59:25+00:00   100.0       2.25   2.10
23  DFS221111P00101000 2022-11-04 19:58:46+00:00   101.0       2.77   2.55
24  DFS221111P00102000 2022-11-04 19:58:46+00:00   102.0       3.40   3.10
25  DFS221111P00103000 2022-11-04 19:51:53+00:00   103.0       4.00   3.70
26  DFS221111P00104000 2022-10-28 18:43:44+00:00   104.0       2.40   4.50
27  DFS221111P00105000 2022-11-04 13:49:50+00:00   105.0       5.60   5.30
28  DFS221111P00107000 2022-11-04 19:58:46+00:00   107.0       7.39   6.80
29  DFS221111P00110000 2022-10-27 16:39:05+00:00   110.0       7.45   9.90
30  DFS221111P00120000 2022-10-04 18:53:29+00:00   120.0      23.20  20.80

      ask  change  percentChange  volume  openInterest  impliedVolatility  \
0    0.05    0.00       0.000000     NaN             1           1.703126
1    0.05   -0.01     -50.000000  1103.0          3207           1.453128
2    0.05    0.00       0.000000     NaN            55           1.007817
3    0.45    0.00       0.000000     NaN            10           1.179692
4    0.45    0.00       0.000000    11.0            12           1.126957
5    0.45    0.00       0.000000     NaN             3           1.074223
6    0.00    0.00       0.000000     NaN             2           0.500005
7    0.05    0.00       0.000000    20.0            55           0.601566
8    0.30    0.00       0.000000     NaN            22           0.751956
9    0.10    0.00       0.000000     1.0            12           0.582035
10   0.50    0.00       0.000000    21.0            38           0.732425
11   0.15   -0.15     -60.000004    11.0            34           0.560551
12   0.15   -0.16     -48.484848     1.0            19           0.515630
13   0.25    0.00       0.000000     2.0            23           0.530278
14   0.35   -0.20     -44.444443    10.0            49           0.538091
15   0.50   -0.40     -57.142853     5.0            37           0.541020
16   0.65   -0.47     -51.086956     8.0            36           0.529302
17   0.80   -0.76     -55.882350     5.0            81           0.515630
18   1.00   -0.48     -35.555557     6.0            43           0.504888
19   1.25    0.00       0.000000    16.0            67           0.524907
20   1.55   -1.21     -48.400000    11.0            49           0.511235
21   1.85   -0.76     -30.645163     3.0            27           0.484624
22   2.30    0.85      60.714287     4.0           176           0.476568
23   2.90    1.42     105.185170    10.0           176           0.486089
24   3.50    1.65      94.285720     6.0            59           0.480474
25   4.10    1.95      95.121956     2.0            21           0.458502
26   5.10    0.00       0.000000    33.0            33           0.524419
27   5.80    2.40      74.999990     8.0            65           0.500982
28   8.00    3.69      99.729720     5.0             5           0.672855
29  10.80    0.00       0.000000     2.0             1           0.552739
30  22.60    0.00       0.000000     NaN             8           1.530764

    inTheMoney contractSize currency
0        False      REGULAR      USD
1        False      REGULAR      USD
2        False      REGULAR      USD
3        False      REGULAR      USD
4        False      REGULAR      USD
5        False      REGULAR      USD
6        False      REGULAR      USD
7        False      REGULAR      USD
8        False      REGULAR      USD
9        False      REGULAR      USD
10       False      REGULAR      USD
11       False      REGULAR      USD
12       False      REGULAR      USD
13       False      REGULAR      USD
14       False      REGULAR      USD
15       False      REGULAR      USD
16       False      REGULAR      USD
17       False      REGULAR      USD
18       False      REGULAR      USD
19       False      REGULAR      USD
20       False      REGULAR      USD
21       False      REGULAR      USD
22        True      REGULAR      USD
23        True      REGULAR      USD
24        True      REGULAR      USD
25        True      REGULAR      USD
26        True      REGULAR      USD
27        True      REGULAR      USD
28        True      REGULAR      USD
29        True      REGULAR      USD
30        True      REGULAR      USD  )

In [98]:
calls = options.calls

In [99]:
calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,DFS221111C00089000,2022-11-04 19:13:18+00:00,89.0,11.10,10.20,11.50,11.10,NaN,3.0,0,0.882814,True,REGULAR,USD
1,DFS221111C00091000,2022-11-04 19:13:08+00:00,91.0,9.20,8.40,9.60,4.50,95.744690,1.0,2,0.511724,True,REGULAR,USD
2,DFS221111C00092000,2022-10-21 15:50:36+00:00,92.0,4.80,7.40,8.40,0.00,0.000000,5.0,5,0.660160,True,REGULAR,USD
3,DFS221111C00093000,2022-11-02 18:37:59+00:00,93.0,10.30,6.80,7.60,0.00,0.000000,1.0,35,0.519536,True,REGULAR,USD
4,DFS221111C00094000,2022-10-26 17:52:12+00:00,94.0,10.49,6.00,6.80,0.00,0.000000,1.0,24,0.538091,True,REGULAR,USD
5,DFS221111C00095000,2022-11-03 19:20:23+00:00,95.0,4.75,5.20,5.80,0.00,0.000000,1.0,36,0.507817,True,REGULAR,USD
6,DFS221111C00096000,2022-10-25 13:39:50+00:00,96.0,4.90,4.60,5.00,0.00,0.000000,2.0,19,0.524907,True,REGULAR,USD
7,DFS221111C00097000,2022-10-27 17:00:42+00:00,97.0,8.16,3.80,4.20,0.00,0.000000,10.0,50,0.500493,True,REGULAR,USD
8,DFS221111C00098000,2022-10-24 14:25:41+00:00,98.0,3.00,3.10,3.60,0.00,0.000000,11.0,38,0.556645,True,REGULAR,USD
9,DFS221111C00099000,2022-11-04 19:22:41+00:00,99.0,2.61,2.55,2.80,0.31,13.478258,2.0,28,0.506353,True,REGULAR,USD
10,DFS221111C00100000,2022-11-04 19:54:14+00:00,100.0,2.00,2.00,2.20,0.22,12.359552,14.0,8,0.487310,False,REGULAR,USD
11,DFS221111C00101000,2022-11-04 19:56:29+00:00,101.0,1.55,1.50,1.75,0.24,18.320612,13.0,22,0.486089,False,REGULAR,USD
12,DFS221111C00102000,2022-11-04 19:27:26+00:00,102.0,1.20,1.10,1.35,-3.20,-72.727270,3.0,13,0.480474,False,REGULAR,USD
13,DFS221111C00103000,2022-11-04 18:44:20+00:00,103.0,0.85,0.75,0.95,0.25,41.666664,11.0,8,0.458502,False,REGULAR,USD
14,DFS221111C00104000,2022-11-04 19:59:51+00:00,104.0,0.64,0.55,0.70,0.09,16.363630,6.0,29,0.456548,False,REGULAR,USD
15,DFS221111C00105000,2022-11-04 13:54:02+00:00,105.0,0.45,0.30,0.50,-0.24,-34.782608,5.0,40,0.453619,False,REGULAR,USD
16,DFS221111C00106000,2022-11-04 15:48:11+00:00,106.0,0.37,0.20,0.40,0.07,23.333330,5.0,97,0.470708,False,REGULAR,USD
17,DFS221111C00107000,2022-11-03 14:54:48+00:00,107.0,0.25,0.15,0.25,0.00,0.000000,5.0,117,0.454107,False,REGULAR,USD
18,DFS221111C00108000,2022-11-04 14:16:33+00:00,108.0,0.30,0.05,0.20,0.15,100.000000,9.0,221,0.471685,False,REGULAR,USD
19,DFS221111C00109000,2022-11-01 19:23:09+00:00,109.0,1.12,0.05,0.15,0.00,0.000000,9.0,39,0.480474,False,REGULAR,USD
20,DFS221111C00110000,2022-10-31 16:55:22+00:00,110.0,1.00,0.05,0.20,0.00,0.000000,5.0,77,0.500005,False,REGULAR,USD
21,DFS221111C00111000,2022-11-02 16:47:17+00:00,111.0,0.29,0.00,0.75,0.29,NaN,NaN,2,0.688480,False,REGULAR,USD
22,DFS221111C00116000,2022-11-01 16:09:14+00:00,116.0,0.15,0.00,0.75,0.15,NaN,NaN,1,0.888673,False,REGULAR,USD
23,DFS221111C00135000,2022-10-25 13:34:11+00:00,135.0,0.14,0.00,0.05,0.00,0.000000,NaN,1,1.015630,False,REGULAR,USD

In [100]:
puts = options.puts

In [101]:
puts

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,DFS221111P00060000,2022-10-25 13:45:21+00:00,60.0,0.05,0.00,0.05,0.00,0.000000,NaN,1,1.703126,False,REGULAR,USD
1,DFS221111P00065000,2022-11-04 17:08:40+00:00,65.0,0.01,0.00,0.05,-0.01,-50.000000,1103.0,3207,1.453128,False,REGULAR,USD
2,DFS221111P00075000,2022-10-25 14:19:52+00:00,75.0,0.20,0.00,0.05,0.00,0.000000,NaN,55,1.007817,False,REGULAR,USD
3,DFS221111P00079000,2022-10-25 14:19:52+00:00,79.0,0.30,0.00,0.45,0.00,0.000000,NaN,10,1.179692,False,REGULAR,USD
4,DFS221111P00080000,2022-10-25 15:57:59+00:00,80.0,0.74,0.00,0.45,0.00,0.000000,11.0,12,1.126957,False,REGULAR,USD
5,DFS221111P00081000,2022-10-03 18:44:51+00:00,81.0,1.75,0.00,0.45,0.00,0.000000,NaN,3,1.074223,False,REGULAR,USD
6,DFS221111P00082000,2022-10-03 18:10:54+00:00,82.0,1.95,0.00,0.00,0.00,0.000000,NaN,2,0.500005,False,REGULAR,USD
7,DFS221111P00085000,2022-11-03 18:47:16+00:00,85.0,0.10,0.00,0.05,0.00,0.000000,20.0,55,0.601566,False,REGULAR,USD
8,DFS221111P00086000,2022-10-20 14:18:27+00:00,86.0,1.90,0.00,0.30,0.00,0.000000,NaN,22,0.751956,False,REGULAR,USD
9,DFS221111P00087000,2022-11-03 19:41:22+00:00,87.0,0.15,0.00,0.10,0.00,0.000000,1.0,12,0.582035,False,REGULAR,USD
10,DFS221111P00088000,2022-11-03 16:15:51+00:00,88.0,0.20,0.00,0.50,0.00,0.000000,21.0,38,0.732425,False,REGULAR,USD
11,DFS221111P00089000,2022-11-04 19:28:22+00:00,89.0,0.10,0.05,0.15,-0.15,-60.000004,11.0,34,0.560551,False,REGULAR,USD
12,DFS221111P00090000,2022-11-04 18:01:54+00:00,90.0,0.17,0.05,0.15,-0.16,-48.484848,1.0,19,0.515630,False,REGULAR,USD
13,DFS221111P00091000,2022-10-27 13:51:55+00:00,91.0,0.50,0.10,0.25,0.00,0.000000,2.0,23,0.530278,False,REGULAR,USD
14,DFS221111P00092000,2022-11-04 19:54:33+00:00,92.0,0.25,0.20,0.35,-0.20,-44.444443,10.0,49,0.538091,False,REGULAR,USD
15,DFS221111P00093000,2022-11-04 19:03:28+00:00,93.0,0.30,0.30,0.50,-0.40,-57.142853,5.0,37,0.541020,False,REGULAR,USD
16,DFS221111P00094000,2022-11-04 14:06:52+00:00,94.0,0.45,0.40,0.65,-0.47,-51.086956,8.0,36,0.529302,False,REGULAR,USD
17,DFS221111P00095000,2022-11-04 19:50:21+00:00,95.0,0.60,0.55,0.80,-0.76,-55.882350,5.0,81,0.515630,False,REGULAR,USD
18,DFS221111P00096000,2022-11-04 19:58:46+00:00,96.0,0.87,0.75,1.00,-0.48,-35.555557,6.0,43,0.504888,False,REGULAR,USD
19,DFS221111P00097000,2022-11-02 15:54:48+00:00,97.0,0.85,1.00,1.25,0.00,0.000000,16.0,67,0.524907,False,REGULAR,USD
20,DFS221111P00098000,2022-11-04 19:34:28+00:00,98.0,1.29,1.25,1.55,-1.21,-48.400000,11.0,49,0.511235,False,REGULAR,USD
21,DFS221111P00099000,2022-11-04 19:27:26+00:00,99.0,1.72,1.65,1.85,-0.76,-30.645163,3.0,27,0.484624,False,REGULAR,USD
22,DFS221111P00100000,2022-11-04 19:59:25+00:00,100.0,2.25,2.10,2.30,0.85,60.714287,4.0,176,0.476568,True,REGULAR,USD
23,DFS221111P00101000,2022-11-04 19:58:46+00:00,101.0,2.77,2.55,2.90,1.42,105.185170,10.0,176,0.486089,True,REGULAR,USD
24,DFS221111P00102000,2022-11-04 19:58:46+00:00,102.0,3.40,3.10,3.50,1.65,94.285720,6.0,59,0.480474,True,REGULAR,USD
25,DFS221111P00103000,2022-11-04 19:51:53+00:00,103.0,4.00,3.70,4.10,1.95,95.121956,2.0,21,0.458502,True,REGULAR,USD
26,DFS221111P00104000,2022-10-28 18:43:44+00:00,104.0,2.40,4.50,5.10,0.00,0.000000,33.0,33,0.524419,True,REGULAR,USD
27,DFS221111P00105000,2022-11-04 13:49:50+00:00,105.0,5.60,5.30,5.80,2.40,74.999990,8.0,65,0.500982,True,REGULAR,USD
28,DFS221111P00107000,2022-11-04 19:58:46+00:00,107.0,7.39,6.80,8.00,3.69,99.729720,5.0,5,0.672855,True,REGULAR,USD
29,DFS221111P00110000,2022-10-27 16:39:05+00:00,110.0,7.45,9.90,10.80,0.00,0.000000,2.0,1,0.552739,True,REGULAR,USD
30,DFS221111P00120000,2022-10-04 18:53:29+00:00,120.0,23.20,20.80,22.60,0.00,0.000000,NaN,8,1.530764,True,REGULAR,USD

In [104]:
dfs.institutional_holders

                            Holder    Shares Date Reported   % Out       Value
0       Vanguard Group, Inc. (The)  35385646    2022-06-29  0.1295  3533256699
1                   Blackrock Inc.  20661637    2022-06-29  0.0756  2063064422
2  Capital International Investors  15513856    2022-06-29  0.0568  1549058497
3         State Street Corporation  12088121    2022-06-29  0.0442  1206998863
4          Capital World Investors  11552555    2022-06-29  0.0423  1153522599
5                         FMR, LLC   9961957    2022-06-29  0.0365   994701391
6    Geode Capital Management, LLC   6263362    2022-06-29  0.0229   625396686
7          Macquarie Group Limited   4879788    2022-06-29  0.0179   487246824
8                  Boston Partners   4471554    2022-06-29  0.0164   446484660
9                   Morgan Stanley   3726505    2022-06-29  0.0136   372091518

In [94]:
aapl = yf.Ticker('aapl')

In [103]:
aapl.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",1277319054,2022-06-29,0.0803,176755416929
1,Blackrock Inc.,1028688317,2022-06-29,0.0647,142349894329
2,"Berkshire Hathaway, Inc",894802319,2022-06-29,0.0562,123822749272
3,State Street Corporation,598178524,2022-06-29,0.0376,82775947071
4,"FMR, LLC",344317974,2022-06-29,0.0216,47646722923
5,"Geode Capital Management, LLC",278256192,2022-06-29,0.0175,38505093207
6,Price (T.Rowe) Associates Inc,237910783,2022-06-29,0.0150,32922095313
7,Morgan Stanley,182450565,2022-06-29,0.0115,25247510075
8,Northern Trust Corporation,179828922,2022-06-29,0.0113,24884727104
9,Bank of America Corporation,149133915,2022-06-29,0.0094,20637151885

In [105]:
qcom = yf.Ticker('qcom')

In [106]:
qcom.institutional_holders

                          Holder     Shares Date Reported   % Out        Value
0     Vanguard Group, Inc. (The)  106941425    2022-06-29  0.0952  11409580894
1                 Blackrock Inc.   82226705    2022-06-29  0.0732   8772767357
2       State Street Corporation   47044190    2022-06-29  0.0419   5019144745
3                       FMR, LLC   32757588    2022-06-29  0.0292   3494907143
4        AllianceBernstein, L.P.   22122833    2022-06-29  0.0197   2360285106
5  Geode Capital Management, LLC   19555218    2022-06-29  0.0174   2086346256
6                 Morgan Stanley   18739651    2022-06-29  0.0167   1999333410
7  Price (T.Rowe) Associates Inc   18079136    2022-06-29  0.0161   1928863063
8    Bank of America Corporation   14743597    2022-06-29  0.0131   1572994399
9     Northern Trust Corporation   13248209    2022-06-29  0.0118   1413451450

In [108]:
aapl.mutualfund_holders

,Holder,Shares,Date Reported,% Out,Value
0,Vanguard Total Stock Market Index Fund,452796750,2022-06-29,0.0285,62658016475
1,Vanguard 500 Index Fund,340333473,2022-06-29,0.0214,47095347655
2,Fidelity 500 Index Fund,164913701,2022-08-30,0.0104,22820758749
3,SPDR S&P 500 ETF Trust,165652240,2022-09-29,0.0104,22922957780
4,"Invesco ETF Tr-Invesco QQQ Tr, Series 1 ETF",142235301,2022-09-29,0.0089,19682521646
5,iShares Core S&P 500 ETF,134259259,2022-09-29,0.0084,18578796915
6,Vanguard Growth Index Fund,123980963,2022-06-29,0.0078,17156486265
7,Vanguard Institutional Index Fund-Institutiona...,113915609,2022-06-29,0.0072,15763642529
8,Vanguard Information Technology Index Fund,79972513,2022-08-30,0.0050,11066596739
9,Select Sector SPDR Fund-Technology,60116108,2022-09-29,0.0038,8318867318

In [109]:
aapl.recommendations

                                  Firm      To Grade From Grade Action
Date
2012-02-09 08:17:00  Canaccord Genuity           Buy              main
2012-03-08 07:33:00     FBN Securities    Outperform              main
2012-03-13 06:08:00          Jefferies           Buy              main
2012-03-14 06:13:00     Morgan Stanley    Overweight              main
2012-03-14 08:21:00  Canaccord Genuity           Buy              main
...                                ...           ...        ...    ...
2022-10-28 10:35:31          Citigroup           Buy              main
2022-10-28 10:39:44      Deutsche Bank           Buy              main
2022-10-28 11:31:39           Barclays  Equal-Weight              main
2022-10-28 11:59:30      Credit Suisse    Outperform              main
2022-10-28 13:19:17            Wedbush    Outperform              main

[867 rows x 4 columns]

In [110]:
qcom.recommendations

                                  Firm      To Grade From Grade Action
Date
2012-03-06 10:29:00      Morgan Keegan    Outperform              main
2012-03-26 06:22:00     Morgan Stanley    Overweight              main
2012-03-28 06:03:00      Deutsche Bank           Buy              main
2012-04-02 08:19:00  Canaccord Genuity           Buy              main
2012-04-10 11:45:00                UBS           Buy              main
...                                ...           ...        ...    ...
2022-11-03 11:54:38     Morgan Stanley    Overweight              main
2022-11-03 11:58:13  Canaccord Genuity           Buy              main
2022-11-03 11:59:40        Wells Fargo  Equal-Weight              main
2022-11-03 12:01:24        Cowen & Co.    Outperform              main
2022-11-03 15:04:44          JP Morgan    Overweight              main

[341 rows x 4 columns]

In [111]:
dfs.recommendations

                                Firm    To Grade    From Grade Action
Date
2012-03-06 06:29:00    Credit Suisse     Neutral                 main
2012-03-19 06:59:00    Goldman Sachs     Neutral                 main
2012-03-20 08:15:00  Stifel Nicolaus         Buy                 main
2012-03-22 06:05:00        Jefferies         Buy                 main
2012-03-22 06:22:00        Citigroup     Neutral                 main
...                              ...         ...           ...    ...
2022-10-13 11:55:14        Citigroup     Neutral                 main
2022-10-18 13:07:02        JP Morgan     Neutral                 main
2022-10-26 10:17:19   Morgan Stanley  Overweight  Equal-Weight     up
2022-10-26 11:44:15    Credit Suisse  Outperform                 main
2022-10-26 13:49:35    Piper Sandler  Overweight                 main

[236 rows x 4 columns]

In [114]:
aapl.calendar

                                    0                    1
Earnings Date     2023-01-25 10:59:00  2023-01-30 12:00:00
Earnings Average                 2.08                 2.08
Earnings Low                     1.93                 1.93
Earnings High                     2.2                  2.2
Revenue Average          127082000000         127082000000
Revenue Low              121204000000         121204000000
Revenue High             132365000000         132365000000