<a href="https://colab.research.google.com/github/shoaibwaheed/finance/blob/main/stock_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.85-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.2 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.85

In [ ]:
import yfinance as yf
import pandas as pd

In [ ]:
goog = yf.Ticker('goog')

In [ ]:
data = goog.history()

In [ ]:
data.shape

(23, 7)

In [ ]:
data = goog.history(interval = '1d',start = '2022-01-03',end = '2022-11-6')

In [ ]:
data.shape

(213, 7)

In [ ]:
data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-01-03 00:00:00-05:00,144.475494,145.550003,143.502502,145.074493,25214000,0,0.0
2022-01-04 00:00:00-05:00,145.550507,146.610001,143.816147,144.416504,22928000,0,0.0
2022-01-05 00:00:00-05:00,144.181000,144.298004,137.523499,137.653503,49642000,0,0.0
2022-01-06 00:00:00-05:00,137.497498,139.686005,136.763504,137.550995,29050000,0,0.0
2022-01-07 00:00:00-05:00,137.904999,138.254745,135.789001,137.004501,19408000,0,0.0

In [ ]:
data = yf.download(['goog','spy'],period = '1d',start='2022-01-03', end='2022-11-6',group_by = 'ticker')

[*********************100%***********************]  2 of 2 completed

In [ ]:
data.shape

(213, 12)

In [ ]:
data

                  GOOG                                                  \
                  Open        High         Low       Close   Adj Close
Date
2022-01-03  144.475494  145.550003  143.502502  145.074493  145.074493
2022-01-04  145.550507  146.610001  143.816147  144.416504  144.416504
2022-01-05  144.181000  144.298004  137.523499  137.653503  137.653503
2022-01-06  137.497498  139.686005  136.763504  137.550995  137.550995
2022-01-07  137.904999  138.254745  135.789001  137.004501  137.004501
...                ...         ...         ...         ...         ...
2022-10-31   95.779999   96.349998   94.379997   94.660004   94.660004
2022-11-01   95.589996   96.165001   90.430000   90.500000   90.500000
2022-11-02   90.910004   91.300003   87.010002   87.070000   87.070000
2022-11-03   86.345001   86.550003   83.449997   83.489998   83.489998
2022-11-04   85.510002   86.730003   83.879997   86.699997   86.699997

                             SPY                                      \
              Volume        Open        High         Low       Close
Date
2022-01-03  25214000  476.299988  477.850006  473.850006  477.709991
2022-01-04  22928000  479.220001  479.980011  475.579987  477.549988
2022-01-05  49642000  477.160004  477.980011  468.279999  468.380005
2022-01-06  29050000  467.890015  470.820007  465.429993  467.940002
2022-01-07  19408000  467.950012  469.200012  464.649994  466.089996
...              ...         ...         ...         ...         ...
2022-10-31  29868700  386.440002  388.399994  385.260010  386.209991
2022-11-01  43220600  390.140015  390.390015  383.290009  384.519989
2022-11-02  43553600  383.899994  388.630005  374.760010  374.869995
2022-11-03  48510400  371.470001  374.200012  368.790009  371.010010
2022-11-04  40155100  377.000000  378.869995  370.000000  376.350006


             Adj Close     Volume
Date
2022-01-03  472.242310   72668200
2022-01-04  472.084137   71178700
2022-01-05  463.019135  104538900
2022-01-06  462.584137   86858900
2022-01-07  460.755310   85111600
...                ...        ...
2022-10-31  386.209991   96631300
2022-11-01  384.519989   85407600
2022-11-02  374.869995  126990400
2022-11-03  371.010010   87100100
2022-11-04  376.350006  103449600

[213 rows x 12 columns]

In [ ]:
dhr = yf.Ticker('DHR')

In [ ]:
info = dhr.info

In [ ]:
info.keys()

dict_keys(['zip', 'sector', 'fullTimeEmployees', 'longBusinessSummary', 'city', 'phone', 'state', 'country', 'companyOfficers', 'website', 'maxAge', 'address1', 'fax', 'industry', 'address2', 'ebitdaMargins', 'profitMargins', 'grossMargins', 'operatingCashflow', 'revenueGrowth', 'operatingMargins', 'ebitda', 'targetLowPrice', 'recommendationKey', 'grossProfits', 'freeCashflow', 'targetMedianPrice', 'currentPrice', 'earningsGrowth', 'currentRatio', 'returnOnAssets', 'numberOfAnalystOpinions', 'targetMeanPrice', 'debtToEquity', 'returnOnEquity', 'targetHighPrice', 'totalCash', 'totalDebt', 'totalRevenue', 'totalCashPerShare', 'financialCurrency', 'revenuePerShare', 'quickRatio', 'recommendationMean', 'exchange', 'shortName', 'longName', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'isEsgPopulated', 'gmtOffSetMilliseconds', 'quoteType', 'symbol', 'messageBoardId', 'market', 'annualHoldingsTurnover', 'enterpriseToRevenue', 'beta3Year', 'enterpriseToEbitda', '52WeekChange', 'morningStarRiskRating', 'forwardEps', 'revenueQuarterlyGrowth', 'sharesOutstanding', 'fundInceptionDate', 'annualReportExpenseRatio', 'totalAssets', 'bookValue', 'sharesShort', 'sharesPercentSharesOut', 'fundFamily', 'lastFiscalYearEnd', 'heldPercentInstitutions', 'netIncomeToCommon', 'trailingEps', 'lastDividendValue', 'SandP52WeekChange', 'priceToBook', 'heldPercentInsiders', 'nextFiscalYearEnd', 'yield', 'mostRecentQuarter', 'shortRatio', 'sharesShortPreviousMonthDate', 'floatShares', 'beta', 'enterpriseValue', 'priceHint', 'threeYearAverageReturn', 'lastSplitDate', 'lastSplitFactor', 'legalType', 'lastDividendDate', 'morningStarOverallRating', 'earningsQuarterlyGrowth', 'priceToSalesTrailing12Months', 'dateShortInterest', 'pegRatio', 'ytdReturn', 'forwardPE', 'lastCapGain', 'shortPercentOfFloat', 'sharesShortPriorMonth', 'impliedSharesOutstanding', 'category', 'fiveYearAverageReturn', 'previousClose', 'regularMarketOpen', 'twoHundredDayAverage', 'trailingAnnualDividendYield', 'payoutRatio', 'volume24Hr', 'regularMarketDayHigh', 'navPrice', 'averageDailyVolume10Day', 'regularMarketPreviousClose', 'fiftyDayAverage', 'trailingAnnualDividendRate', 'open', 'toCurrency', 'averageVolume10days', 'expireDate', 'algorithm', 'dividendRate', 'exDividendDate', 'circulatingSupply', 'startDate', 'regularMarketDayLow', 'currency', 'trailingPE', 'regularMarketVolume', 'lastMarket', 'maxSupply', 'openInterest', 'marketCap', 'volumeAllCurrencies', 'strikePrice', 'averageVolume', 'dayLow', 'ask', 'askSize', 'volume', 'fiftyTwoWeekHigh', 'fromCurrency', 'fiveYearAvgDividendYield', 'fiftyTwoWeekLow', 'bid', 'tradeable', 'dividendYield', 'bidSize', 'dayHigh', 'coinMarketCapLink', 'regularMarketPrice', 'preMarketPrice', 'logo_url'])

In [ ]:
info['sector']

'Healthcare'

In [ ]:
dhr.earnings

          Revenue    Earnings
Year
2018  17049000000  2651000000
2019  17911000000  3008000000
2020  22284000000  3646000000
2021  29453000000  6433000000

In [ ]:
dhr.get_financials()

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Research Development,1742000000.0,1348000000.0,1126000000.0,1059000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,7598000000.0,4495000000.0,3305000000.0,2962000000.0
Minority Interest,10000000.0,11000000.0,11000000.0,12300000.0
Net Income,6433000000.0,3646000000.0,3008000000.0,2651000000.0
Selling General Administrative,8146000000.0,6858000000.0,5577000000.0,5356000000.0
Gross Profit,18056000000.0,13043000000.0,9984000000.0,9505000000.0
Ebit,8168000000.0,4837000000.0,3281000000.0,3090000000.0
Operating Income,8168000000.0,4837000000.0,3281000000.0,3090000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-238000000.0,-275000000.0,-108000000.0,-137000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,1251000000.0,849000000.0,873000000.0,556000000.0
Total Revenue,29453000000.0,22284000000.0,17911000000.0,17049000000.0
Total Operating Expenses,21285000000.0,17447000000.0,14630000000.0,13959000000.0
Cost Of Revenue,11397000000.0,9241000000.0,7927000000.0,7544000000.0
Total Other Income Expense Net,-570000000.0,-342000000.0,24000000.0,-128000000.0
Discontinued Operations,86000000.0,86000000.0,576000000.0,245000000.0
Net Income From Continuing Ops,6347000000.0,3646000000.0,2432000000.0,2406000000.0
Net Income Applicable To Common Shares,6269000000.0,3510000000.0,2940000000.0,2651000000.0

In [ ]:
pnl = dhr.financials
bs = dhr.balancesheet
cf = dhr.cashflow
fs  = pd.concat([pnl,bs,cf])
print(fs.T)

           Research Development Effect Of Accounting Charges  \

2021-12-31         1742000000.0                         None
2020-12-31         1348000000.0                         None
2019-12-31         1126000000.0                         None
2018-12-31         1059000000.0                         None

           Income Before Tax Minority Interest    Net Income  \

2021-12-31      7598000000.0        10000000.0  6433000000.0
2020-12-31      4495000000.0        11000000.0  3646000000.0
2019-12-31      3305000000.0        11000000.0  3008000000.0
2018-12-31      2962000000.0        12300000.0  2651000000.0

           Selling General Administrative   Gross Profit          Ebit  \

2021-12-31                   8146000000.0  18056000000.0  8168000000.0
2020-12-31                   6858000000.0  13043000000.0  4837000000.0
2019-12-31                   5577000000.0   9984000000.0  3281000000.0
2018-12-31                   5356000000.0   9505000000.0  3090000000.0

           Operating Income Other Operating Expenses  ...  \
                                                      ...
2021-12-31     8168000000.0                     None  ...
2020-12-31     4837000000.0                     None  ...
2019-12-31     3281000000.0                     None  ...
2018-12-31     3090000000.0                     None  ...

           Effect Of Exchange Rate Total Cash From Operating Activities  \

2021-12-31            -115000000.0                         8358000000.0
2020-12-31             148000000.0                         6208000000.0
2019-12-31              45000000.0                         3952000000.0
2018-12-31            -118000000.0                         4022000000.0

            Depreciation Other Cashflows From Investing Activities  \

2021-12-31  2168000000.0                                37000000.0
2020-12-31  1775000000.0                                24000000.0
2019-12-31  1189000000.0                               -43000000.0
2018-12-31  1178000000.0                               -74000000.0

           Dividends Paid Change To Inventory Change To Account Receivables  \

2021-12-31   -742000000.0        -502000000.0                  -611000000.0
2020-12-31   -615000000.0        -123000000.0                  -264000000.0
2019-12-31   -527000000.0         -22000000.0                  -157000000.0
2018-12-31   -433000000.0        -134000000.0                   -55000000.0

           Other Cashflows From Financing Activities Change To Netincome  \

2021-12-31                              -112000000.0         415000000.0
2020-12-31                               -29000000.0         208000000.0
2019-12-31                               369000000.0        -115000000.0
2018-12-31                               -18000000.0         271000000.0

           Capital Expenditures

2021-12-31        -1294000000.0
2020-12-31         -791000000.0
2019-12-31         -636000000.0
2018-12-31         -584000000.0

[4 rows x 68 columns]

In [ ]:
fang = ['META','AMZN','NFLX','GOOG']

In [ ]:
tickers =[yf.Ticker(ticker) for ticker in fang ]

In [ ]:
print(tickers)

[yfinance.Ticker object <META>, yfinance.Ticker object <AMZN>, yfinance.Ticker object <NFLX>, yfinance.Ticker object <GOOG>]

In [ ]:
dfs = []
for ticker in tickers:
  pnl = ticker.financials
  bs = ticker.balancesheet
  cf = ticker.cashflow

  fs = pd.concat([pnl,bs,cf])

  data = fs.T
  data = data.reset_index()

  data.columns = ['date',*data.columns[1:]]
  data['Ticker'] = ticker.ticker
  dfs.append(data)

data.iloc[:,:3]

        date Research Development Effect Of Accounting Charges
0 2021-12-31        31562000000.0                         None
1 2020-12-31        27573000000.0                         None
2 2019-12-31        26018000000.0                         None
3 2018-12-31        21419000000.0                         None